*.class

.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac
.DS_Store

# output directory
target/
*.prefs
prototypes/andauh/.settings/org.eclipse.wst.common.project.facet.core.xml
app/.project
app/.project
app/.project
app/.settings/org.eclipse.core.resources.prefs
app/.settings/org.eclipse.core.resources.prefs
app/src/main/java/kickstart/utilities/PicturePathSettings.java
