<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link th:href="@{/resources/css/app.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{/resources/js/app.js}"></script>
<script th:src="@{/resources/js/routes.js}"></script>
<script th:src="@{/resources/js/angular.js}"></script>
</head>

<style>
.message-input, .message-input .inline-label, .menu-bar {
	margin-bottom: 0;
}

#sidebar, .messages {
	border-right: 1px solid #eee;
}

.message-side-bar {
	border-left: 1px solid #eee;
}

.avatar-section {
	border-top: 1px solid #eee;
}
</style>

<body>




	<div th:fragment="chatRightBar">
		<section class="block-list">
			<header>erhaltene Anfragen</header>
			<ul>
				<li th:each="inMsg : ${incomingMessages}"><a
					th:href="@{/chat/thread/{id}(id=${inMsg.id})}"
					th:text="'von ' + ${inMsg.fromUserName}+ ', über: '+${inMsg.title}">Name</a></li>
			</ul>

			<header>gestellte Anfragen</header>
			<ul>
				<li th:each="outMsg : ${outgoingMessages}"><a
					th:href="@{/chat/thread/{id}(id=${outMsg.id})}"
					th:text="'an  ' + ${outMsg.toUserName}+ ', über: '+${outMsg.title}">Name</a></li>
			</ul>
			
						<ul>
				<li class="alert-box info radius">Mit Nachrichten aus dem Auswahlmenü kann nur direkt auf die <b>zuletzt</b> gestellte Frage geantwortet werden! Wenn ihr direkt chatten wollt, nutzt bitte die Option <b>"Freitext/Chat"</b>, darunter leidet aber gegebenenfalls die Qualität der Übersetzung, da diese automatisch stattfindet. <p></p> Wartet am besten bevor ihr neue Fragen stellt bis die vorhergehende beantwortet ist, um möglichst effizient zu kommunizieren.</li>
			</ul>
		</section>
	</div>

</body>
</html>

<!-- ui-view  -->