<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>
	<div class="show-for-medium-up">
		<p>&nbsp;</p>
	</div>
	
	<div class="row">
		<div th:include="chat/chatSideBar :: chatSideBar"></div>
		<div class="large-8 small-12 columns">
			<p>&nbsp;</p>
			<p th:text="#{chat.choosethread}">Bitte den Chat-Thread wählen!</p>
		</div>
	</div>
	

	<footer th:include="footer :: footer"></footer>

</body>
</html>

<!-- ui-view  -->