<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>
	<div class="show-for-medium-up">
		<p>&nbsp;</p>
	</div>
	
	<div class="row">
		<div class="large-4 small-12 columns">
			<strong>Erhaltene Anfragen:</strong>
			<ul class="stack button-group" th:each="inMsg : ${incomingMessages}">	
			  <li><a  class="small button" th:href="@{/chat/thread/{id}(id=${inMsg.id})}" th:text="'von ' + ${inMsg.fromUserName}+ ', über: '+${inMsg.title}"></a></li>
			  <hr></hr>	
			</ul>
	
			<strong>Gestellte Anfragen:</strong>
			<ul class="stack button-group" th:each="outMsg : ${outgoingMessages}">	
				  <li><a  class="small button" th:href="@{/chat/thread/{id}(id=${outMsg.id})}" th:text="'an  ' + ${outMsg.toUserName}+ ', über: '+${outMsg.title}"></a></li>
				  <hr></hr>	
			</ul>
			<ul>
				<li class="alert-box info radius">Mit Nachrichten aus dem Auswahlmenü kann nur direkt auf die <b>zuletzt</b> gestellte Frage geantwortet werden! Wenn ihr direkt chatten wollt, nutzt bitte die Option <b>"Freitext/Chat"</b>, darunter leidet aber gegebenenfalls die Qualität der Übersetzung, da diese automatisch stattfindet. <p></p> Wartet am besten bevor ihr neue Fragen stellt bis die vorhergehende beantwortet ist, um möglichst effizient zu kommunizieren.</li>
			</ul>
		</div>
		<div class="large-8 small-12 columns">
			<p>&nbsp;</p>
			<p>Bitte links den Chat-Thread wählen!</p>
		</div>
	</div>
	

	<footer th:include="footer :: footer"></footer>

</body>
</html>

<!-- ui-view  -->