<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>
	<div class="show-for-medium-up">
		<p>&nbsp;</p>
	</div>
	
	<div class="row">
		<div th:include="chatSideBar :: chatSideBar"></div>
		<div class="large-8 small-12 columns">		
			<h4 class="header">Nachrichten</h4>
			<div class="row">
				<div class="small-12 columns"> 					
					<div th:each="var : ${conversation.content}">
						<hr></hr>
						<div class="row">
							<div class="small-6 columns">
								<p class="text-left"><strong th:text="(${var.fromId} == ${currentUserId}) ? 'von mir geschickt' : 'von '+ ${var.fromUserName} +' geschickt'"></strong></p>
							</div>
							<div class="small-6 columns">
								<p class="text-right" th:text="'um '+${#temporals.format(var.time, 'hh:mm:ss, dd.MM.yyyy')}"/>
							</div>
						</div>
						<p th:text="${var.message}"></p>
						<p th:text="${var.freeText}"></p>
					</div>
					<hr></hr>
					<div class="panel">
						<div class="row">
							<form action="#" th:action="@{/chat/inspectChat/append/{id}(id=${conversation.id})}" th:object="${stringInForm}" method="post" enctype="multipart/form-data">
								<div class="small-12 columns">
									<select th:field="*{content}">
										<option th:each="possibleMessage : ${possibleMessages}"
											th:value="${possibleMessage.key}"
											th:text="${possibleMessage.value}">.</option>
									</select>
									<textarea rows="4" th:field="*{content2}"></textarea>
								</div>
								<div class="small-12 columns">
									<button class="right button" type="submit">Nachricht senden</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>
	
</body>
</html>

<!-- ui-view  -->