<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>
<body>

<script th:inline="javascript">

    var message = [[${map}]];
    
    alert(message);


</script>
	
	<span th:each="mapEntry : ${map}"> 
		<span th:text="${mapEntry.key}"></span><br/>
		<span th:each="listEntry : ${mapEntry.value}" th:text="'-'+${listEntry} + ''"></span><br/>
	</span>
	
	<hr/>
	
								<ul class="has-dropdown">
									<ul th:each="category : ${map}"	>
										<span th:text="${category.key}"></span>
										<li th:each="listElem : ${category.value}" th:text="${listElem}">
										</li>
									</ul>
								</ul>
							<hr></hr>
							
							<div id="nuevo" th:include="::frag1" th:with="testVar='neuerInhalt'">123</div>
		<!--				
        <div th:fragment="submenu" th:remove="tag">
            <ul>
                <li th:each="option : ${menu.options}" >
                    <span th:text="${option.label}">Town hall</span>
                    <div th:with="menu = ${option}"
                           th:include="includes/sidebar.html :: submenu" th:remove="tag" />
                </li>
            </ul>
        </div>
        !-->

</body>
</html>