<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/css/stylesheet.css" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title> Registrierung erflgreich </title>
</head>
<body>
<div align="center">
    <form value="/registrations" method="post">
        <h2> Ihre Registrierung war erfolgreich! </h2>
        <fieldset>
            <legend> Alle User </legend>
            <table border= "1">
                <tr text-align="center">
                    <td> Username </td>
                    <td> Email </td>
                    <td> Password </td>
                </tr>
                <tr></tr>
                <tr th:each=" user: ${UserRepository}">
                    <td th:text="${user.username}"> Platzhalter </td>
                    <td th:text="${user.email}"> Platzhalter </td>
                    <td th:text="${user.password}"> Platzhalter </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>
</body>
</html>
