<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<script>

	function required() {
		var empt = document.forms["form1"]["name"].value;
		if (empt == "" || empt == null) {
			alert("Name der Kategorie darf nicht leer sein");
			return false;
		} else {
			return true;
		}
	}
</script>
</head>
<body>

	<script th:src="@{/ressources/js/foundation/foundation.js}"></script>
	<script th:src="@{/ressources/js/foundation/foundation.abide.js}"></script>

	<script>
		$(document).foundation();
	</script>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
			<p>
	<h1>Root-Kategorien:</h1>
	<table border="1">
		<tr>
			<td><b>Name</b></td>
			<td><b>ID</b></td>
			<td><b>Subkategorien eine Ebene unter Root</b></td>
			<td></td>
			<td><b>Inspect</b></td>
		</tr>
		<tr th:each="category : ${categoriesAdmin}">
			<td th:text="${category.cat.name}">platzhalter</td>
			<td th:text="${category.cat.id}">platzhalter</td>
			<td>
				<p th:each="subcategory : ${category.subcats}"><a th:href="@{/admin/inspectCategory/{id}(id=${subcategory.id})}"><span th:text="${subcategory.name}">Subkategorien anschauen</span></a></p>
			</td>
			<td>
				  <a th:href="@{/admin/deleteCategory/{id}(id=${category.cat.id})}"><span>Kategorie löschen</span></a>
			</td>
						<td>
				  <a th:href="@{/admin/inspectCategory/{id}(id=${category.cat.id})}"><span>Subkategorien anschauen</span></a>
			</td>
		</tr>
	</table>
	</p> 

	<p>
	<h1>Root-Kategorie hinzufügen:</h1>

	<form action="#" th:action="@{/admin/addRootCat}" th:object="${newCategory}"
		method="post" name="form1" onsubmit="return required()">
		<p>
			Name der neuen Kategorie: <input type="text" th:field="*{name}" />
		</p>
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
	</p>
	
	
	<p>
	<h1>Statistik über Kategorien</h1>
		<table border="1">
			<tr>
				<td>Summe aller Kategorien</td>
				<td>davon Root-Kategorien</td>
				<td>davon Sub-Kategorien</td>
			</tr>
			<tr>
				<td><span th:text="${totalCount}">#</span></td>
				<td><span th:text="${rootCount}">#</span></td>
				<td><span th:text="${subCount}">#</span></td>
			</tr>
		</table>
	</p>
	
	<p>
		<h1>User-Management</h1>
		<table border="1">
			<tr>
				<td>User ID</td>
				<td>Role</td>
				<td>Name</td>
				<td>Username</td>
				<td>Email</td>
				<td>Adresse</td>
				<td>Sprachen</td>
				<td>Useraccount aktiviert?</td>
				<td></td>
				
			</tr>
			<tr th:each="user : ${registeredUsers}">
				<td th:text="${user.id}">platzhalter</td>
				<td th:text="${user.userAccount.roles}">platzhalter</td>
				<td><span th:text="${user.lastName}"></span>,<span th:text="${user.firstName}"></span></td>
				<td th:text="${user.userAccount.username}">platzhalter</td>
				<td th:text="${user.email}">platzhalter</td>
				<td><span th:text="${user.streetName}"></span> <span th:text="${user.houseNumber}"></span>, <span th:text="${user.zip}"></span> <span th:text="${user.city}"></span></td>
				<td><span th:text="${user.language1}"></span>, <span th:text="${user.language2}"></span>, <span th:text="${user.language3}"></span></td>
				<td th:text="${user.userAccount.enabled}">Aktivierungsstatus</td>
				<td>
					<a th:href="${user.userAccount.enabled} ? @{/admin/deactivateUser/{id}(id=${user.id})} : @{/admin/activateUser/{id}(id=${user.id})}" th:text="${user.userAccount.enabled} ? 'User deaktivieren' : 'User aktivieren'">
					</a>
				</td>
			</tr>
		</table>
	</p>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>
