<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<p>&nbsp;</p>
	<div class="row">
		<div class="large-12 columns">
			<h4 class="header" th:text="${Article.title}"></h4>
			<div class="panel">
				<div class="row">
					<div class="medium-6 small-12 columns">
						<img th:src="@{/showPicture/}+${Article.id}"/>
					</div>
					<div class="medium-6 small-12 columns">
						<div class="row">
							<div class="small-12 columns">
								<h5 class="subheader" th:text="#{article.details}">Details</h5>
							</div>
							<hr></hr>
						</div>
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{newarticle.category}">Kategorie</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="#{'categories.' + ${category.name}}"></p>
							</div>
						</div>	
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.location}">Ort:</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="${Article.location}"></p>
							</div>
						</div>	
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.zipcode}">PLZ:</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="${Article.zip}"></p>
							</div>
						</div>	
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.creationdate}">Erstellungsdatum:</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="${#temporals.format(Article.creationdate, 'dd. MMMM yyyy')}">Datum</p>
							</div>
						</div>
						<div class="row" th:if="${Article.kind} == 'activity'">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.activityDate}">Erstellungsdatum:</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="${#temporals.format(Article.activitydate, 'dd. MMMM yyyy HH:mm')}">Datum</p>
							</div>
						</div>		
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.creator}">Anbieter:</p>
							</div>
							<div class="small-6 large-8 columns">
								<p th:text="${Creator.username}"></p>
							</div>
						</div>
						<div class="row">
							<div class="small-6 large-4 columns">
								<p th:text="#{article.creatorisspeaking}">Anbieter spricht folgende Sprachen:</p>
							</div>
							<div class="small-6 large-8 columns">
								<div>
									<p></p>
									<p th:if="${Creator.language1 != null}" th:text="${Creator.language1}+', ' +${Creator.language2}+', ' +${Creator.language3}"></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns"> 
								<a th:if="${Creator.id} != ${currentUserId}" class="button" th:href="@{/chat/newConversation/}+${Article.id}" th:text="#{article.takecontact}">Kontakt mit Anbieter aufnehmen</a>
							</div>
						</div>	
					</div>					
					<div class="small-8 columns">
						<div class="row">
							<div class="small-12 columns">
								<h5 class="subheader" th:text="#{article.description}">Beschreibung</h5>
							</div>
							<hr></hr>
						</div>
						<font th:text="${Article.description}"></font>
					</div>
					<div class="small-4 columns">
						<div class="row">
							<div class="small-12 columns">
								<h5 class="subheader" th:text="#{article.tags}">Tags</h5>
							</div>
							<hr></hr>
						</div>
						<div th:each="Attribute : ${tags}">
							<font th:text="#{${Attribute.name}}"></font>
							<div  th:each="String : ${Attribute.tags}">
								<span class="label" th:text="#{${String}}">Tag</span>
							</div>
						</div>
						<p>&nbsp;</p>
					</div>
				</div>				
			</div>
																			
			<ul class="right button-group">
			<li><a th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/editAttributes/}+${Article.id}" class="small button" th:text="#{article.editTags}">Tags bearbeiten</a></li>
				<li><a th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/editArticle/}+${Article.id}" class="small button" th:text="#{article.editOffer}">Artikel bearbeiten</a></li>
				<li><a th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/deleteArticle/}+${Article.id}" class="small alert button" th:text="#{article.deleteOffer}">Artikel löschen</a></li>
			</ul>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>