<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns">
			<p>&nbsp;</p>
			<h4 class="header" th:text="${Article.title}">Name des Artikels</h4>
			<div class="panel">
				<div class="row">
					<div class="small-12 columns">
						<div class="small-12 large-9 columns">
							<img th:src="@{'/resources/static/' + ${Article.photo}}" src="http://placehold.it/800x600&amp;text=Artikel" />
						</div>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<div class="row">
							<div class="small-12 columns">
								<h5 class="subheader">Details</h5>
								<hr></hr>
								<div class="small-6 large-3 columns">
									<p>Ort:</p>
									<p>Erstellungsdatum:</p>
									<p>Anbieter:</p>
								</div>
								<div class="small-6 large-9 columns">
									<p th:text="${Article.location}"></p>
									<p th:date="${Article.creationdate}">07.11.2015</p>
									<p>Max Muster</p>
								</div>
								<p>&nbsp;</p>
								<h5 class="subheader">Beschreibung</h5>
								<hr></hr>
								<font th:text="${Article.description}"></font>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel">
				<label> Nachricht schreiben</label>
				<hr></hr>
				<div class="row">
					<div class="small-12 columns">
						<textarea rows="4"></textarea>
						<div class="button">Nachricht senden</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>