<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns">
			<p>&nbsp;</p>
			<h4 class="header" th:text="${Article.title}"></h4>
			<div class="panel">
				<div class="row">
					<div class="small-12 large-7 columns">
						<img th:src="@{/showPicture/}+${Article.id}"/>
					</div>
					
					<div class="small-12 large-5 columns">
						<hr th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/editArticle/}+${Article.id}" class="show-for-small-only"></hr>
						<ul class="stack-for-small round button-group">
						  <li><a th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/editArticle/}+${Article.id}" class="small button">Artikel bearbeiten</a></li>
						  <li><a th:if="${Creator.id} == ${currentUserId} or ${isAdminLoggedIn} == true" th:href="@{/deleteArticle/}+${Article.id}" class="small alert button">Artikel löschen</a></li>
						</ul>
					</div>
				</div>
				<p>&nbsp;</p>
				<div class="row">
					<div class="small-12 columns">
						<h5 class="subheader">Details</h5>
					</div>
					<hr></hr>
				</div>
				<div class="row">
					<div class="small-6 large-3 columns">
						<p>Ort:</p>
					</div>
					<div class="small-6 large-9 columns">
						<p th:text="${Article.location}"></p>
					</div>
				</div>	
				<div class="row">
					<div class="small-6 large-3 columns">
						<p>PLZ:</p>
					</div>
					<div class="small-6 large-9 columns">
						<p th:text="${Article.zip}"></p>
					</div>
				</div>	
				<div class="row">
					<div class="small-6 large-3 columns">
						<p>Erstellungsdatum:</p>
					</div>
					<div class="small-6 large-9 columns">
						<p th:text="${#temporals.format(Article.creationdate, 'dd. MMMM yyyy')}">Datum</p>
					</div>
				</div>	
				<div class="row">
					<div class="small-6 large-3 columns">
						<p>Anbieter:</p>
					</div>
					<div class="small-6 large-9 columns">
						<p th:text="${Creator.username}"></p>
					</div>
				</div>													
				<p>&nbsp;</p>
				<h5 class="subheader">Beschreibung</h5>
				<hr></hr>
				<font th:text="${Article.description}"></font>
			</div>

			<div class="panel" th:if="${Creator.id} != ${currentUserId}" sec:authorize="isAuthenticated()">
				<label>Kontakt</label>
				<hr></hr>
				<div class="row">
					<div class="small-12 columns">
						<a class="button" th:href="@{/chat/newConversation/}+${Article.id}">Kontakt mit Anbieter aufnehmen</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>