<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns">
			<p>&nbsp;</p>
			<h4 class="header">Angebot einstellen</h4>
			<form action="#" th:action="@{/editArticle/{id}(id=$(editArticle.id))}" th:object="${NewArticleForm}" method="post" enctype="multipart/form-data">
				<div class="panel">
					<div class="row">
						<div class="small-12 columns">
							<p>Möchten Sie eine Aktivität (z.b. Sprachkurs, Stadtausflug, Bowlingspiel) oder einen Artikel erstellen?</p>
							<div class="chooseRole">
								<input id="activity" type="radio" name="kind"/>
								<label	for="activity"><a> Aktivität</a></label>
								<input id="article" type="radio" name="kind"/>
								<label for="article"><a> Artikel</a></label>
								<br />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Kategorie*: </p>
						</div>
						<div class="small-8 columns">
							<select name="categoryId">
								<option th:each="categoryForm : ${categoriesForm}" th:value="${categoryForm.id}"><span th:text="${categoryForm.name}"></span></option>		
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="small-4 columns">
							<p>Titel der Anzeige*</p>
						</div>
						<div class="small-8 columns">
							<input type="text" name="title" placeholder="" />
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Beschreibung*</p>
						</div>
						<div class="small-8 columns">
							<textarea name="description" rows="4"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<p>Bilder</p>
						</div>
						<div class="small-8 columns">
							<a><input type="file" name="file"/></a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="small-4 columns">Stadt</div>
						<div class="small-8 columns">										
							<input type="text" name="city" placeholder="Stadt" />
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">PLZ</div>
						<div class="small-8 columns">										
							<input type="text" name="zip" placeholder="PLZ" />
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">Straße, Hausnummer, Addresszusatz</div>
						<div class="small-8 columns">
							<input type="text" name="streetName" placeholder="Straßenname" />
                            <input type="text" name="houseNumber" placeholder="Hausnummmer" />                            						
							<input type="text" name="addressAddition" placeholder="(optional)" />
						</div>
					</div>	
					<hr />
					<div class="row">
	                   <div class="small-12 columns">
	                   		<button type="submit" th:href="@{/}">Angebot erstellen</button>
	                   </div>
                    </div>						
				</div>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>