<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns" th:if="${currentUserId} == ${Article.creator.id} or ${isAdminLoggedIn} == true">
			<p>&nbsp;</p>
			<h4 class="header" th:text="#{editarticle.editarticle}">Angebot bearbeiten</h4>
			<form action="#" th:action="@{/editArticle/{id}(id=${Article.id})}" th:object="${NewArticleForm}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="kind" th:value="${Article.kind}"/>
				<div class="panel">
					<div class="row" th:if="${Article.kind} == 'article'">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.category}">Kategorie:</div>
						</div>
						<div class="medium-8 small-12 columns">
							<select name="categoryId" id="categoryId">
								<div th:each="entry : ${categories}">
									<option th:value="${entry.cat.id}" th:selected="${entry.cat.id} == ${Article.category}"><div th:text="#{'categories.' + ${entry.cat.name}}"></div></option>	
									<option th:each="subEntry : ${entry.subcats}" th:value="${subEntry.id}" th:selected="${subEntry.id} == ${Article.category}"><div th:text="'--' + #{'categories.' + ${subEntry.name}}" ></div></option>	
								</div>
							
							</select>
						</div>
						
					<hr />
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.offertitle}">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label><font color="red" th:text="${titleError}"> ERROR MESSAGE </font></label>
							<input type="text" name="title" placeholder="" th:value="${Article.title}"/>
						</div>
					</div>
					<!--  change activity date -->
					<div class="row" th:if="${Article.kind} == 'activity'">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.date}">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label><font color="red" th:text="${titleError}"> ERROR MESSAGE </font></label>
							<input  type="text"  placeholder="" th:value="${#temporals.format(Article.activitydate, 'dd. MMMM yyyy HH:mm')}" readonly="readonly"/>


						</div>
					</div>
					<!--  change activity date end -->
					<div class="row" >
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.description}" th:placeholder="#{newarticle.description}">Beschreibung</div>
						</div>
						<div class="medium-8 small-12 columns">
							<textarea name="description" rows="4" th:text="${Article.description}"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 small-2 columns" th:text="#{newarticle.pictures}">Bilder</div>
						<div class="medium-8 small-10 columns">
							<a><input type="file" name="file"/></a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.city}">Stadt</div>
						</div>
						<div class="small-8 columns">										
							<input type="text" name="city" placeholder="Stadt" th:value="${Article.location}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.zipcode}">PLZ</div>
						</div>
						<div class="medium-8 small-12 columns">											
							<input type="text" name="zip" placeholder="PLZ" th:value="${Article.zip}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{usersettings.address}">Straße, Addresszusatz</div>
						</div>
						<div class="medium-8 small-12 columns">
							<input type="text" name="streetName" placeholder="Straßenname" th:value="${Article.street}"/>
							<input type="text" name="addressAddition" placeholder="(optional)" />
						</div>
					</div>						
				</div>
				<button class="right button" type="submit" th:href="@{/}" th:text="#{editarticle.editarticle}">Angebot bearbeiten</button>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>
</body>
<script th:src="@{/resources/js/build/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/resources/js/dateTimePicker.js}"></script>
<script th:src="@{/resources/js/jquery.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.datetimepicker.css}" />
<script>
$("#categoryId option[value='35']").remove();
$("#activityDateRow").hide();
$("#chooseCategory").hide();
jQuery('#datetimepicker_mask').datetimepicker();
</script>
</html>