<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns" th:if="${userId} == ${Article.creator.id} or ${isAdminLoggedIn} == true">
			<p>&nbsp;</p>
			<h4 class="header" th:text="#{editarticle.editarticle}">Angebot bearbeiten</h4>
			<form action="#" th:action="@{/editArticle/{id}(id=${Article.id})}" th:object="${NewArticleForm}" method="post" enctype="multipart/form-data">
				<div class="panel">
					<div class="row">
						<div class="medium-4 mall-12 columns" th:text="#{editArticle.kind}">Art:</div>
						<div class="medium-8 small-12 columns">
							<font color="red" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}"> ERROR MESSAGE</font>
							<div class="chooseRole">
								<input th:if="${Article.kind} == 'activity'" id="activity" th:checked="a" type="radio" name="kind" value="activity" onclick="checkedActivity()"/>
								<input th:if="${Article.kind} != 'activity'" id="activity" type="radio" name="kind" value="activity" onclick="checkedActivity()"/>
								<font color="#2ba6cb" for="activity" th:text="Aktivität"></font>
								<input th:if="${Article.kind} == 'article'" id="article" th:checked="a" type="radio" name="kind" value="article" onclick="checkedArticle()" />
								<input th:if="${Article.kind} != 'article'" id="article" type="radio" name="kind" value="article" onclick="checkedArticle()" />
								<font color="#2ba6cb" for="article" th:text="Artikel"></font>
								<br/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.category}">Kategorie:</div>
						</div>
						<div class="medium-8 small-12 columns">
							<select name="categoryId">
								<div th:each="entry : ${categories}">
									<option th:value="${entry.cat.id}"><div th:text="#{'categories.' + ${entry.cat.name}}"></div></option>	
									<option th:each="subEntry : ${entry.subcats}" th:value="${subEntry.id}"><div th:text="'--' + #{'categories.' + ${subEntry.name}}" ></div></option>	
								</div>
							
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.offertitle}">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label ><font color="red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> ERROR MESSAGE</font></label>
							<input type="text" name="title" placeholder="" th:value="${Article.title}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.description}" th:placeholder="#{newarticle.description}">Beschreibung</div>
						</div>
						<div class="medium-8 small-12 columns">
							<textarea name="description" rows="4" th:text="${Article.description}"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 small-2 columns" th:text="#{newarticle.pictures}">Bilder</div>
						<div class="medium-8 small-10 columns">
							<a><input type="file" name="file"/></a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.city}">Stadt</div>
						</div>
						<div class="small-8 columns">										
							<input type="text" name="city" placeholder="Stadt" th:value="${Article.location}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.zipcode}">PLZ</div>
						</div>
						<div class="medium-8 small-12 columns">											
							<input type="text" name="zip" placeholder="PLZ" th:value="${Article.zip}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{usersettings.address}">Straße, Addresszusatz</div>
						</div>
						<div class="medium-8 small-12 columns">
							<input type="text" name="streetName" placeholder="Straßenname" th:value="${Article.street}"/>
							<input type="text" name="addressAddition" placeholder="(optional)" />
						</div>
					</div>						
				</div>
				<button class="right button" type="submit" th:href="@{/}" th:text="#{editarticle.editarticle}">Angebot bearbeiten</button>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>