<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="small-12 columns">
			<div class="small-8 columns">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<div class="text-center"><h1 th:text="#{frontpage.welcome}">Frontpage</h1></div>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			</div>
			<div class="small-4 columns">
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			
				<form action="#" th:action="@{/}" method="post">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<div th:if="${param.error}" class="alert alert-error"><font color="red" th:text="#{frontpage.loginError}"> Ungültger Username und/oder Passwort.</font></div>
					<div th:if="${param.logout}" class="alert alert-success" th:text="#{frontpage.logoutSuccess}"> Sie wurden ausgeloggt. </div>
					<label>
						<input type="text" name="username" placeholder="Username" th:placeholder="#{frontpage.username}"/>
					</label>
					<label>
						<input type="password" name="password" placeholder="Passwort"/>
					</label>
					<div class="row">
						<div class="small-12 columns">
							<button type="submit" class="small button">Login</button>
						</div>
					</div>
				</form>

				<a th:href="@{/registration}" href="#" th:text="#{frontpage.registration}">Noch keinen Account? Hier registrieren!</a>
			</div>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>