<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />
</head>

<body th:background="@{resources/img/keinbild.png.png}">

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="small-12 columns">
			<div class="small-12 medium-8 columns">
			<p>&nbsp;</p>
			<div class="text-center"><h1 th:text="#{frontpage.welcome}">Frontpage</h1></div>
				<p th:text="#{frontpage.text1}">fp text 1</p>
				<p th:text="#{frontpage.text2}">fp text 2</p>
				<p th:text="#{frontpage.text3}">fp text 3</p>
				<p th:text="#{frontpage.text4}">fp text 4</p>
				<p th:text="#{frontpage.text5}">fp text 5</p>
			</div>
			<div class="small-12 large-4 columns" sec:authorize="!isAuthenticated()">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				
				<form action="#" th:action="@{/}" method="post">
					<div class="show-for-medium-up">
						<p>&nbsp;</p>
						<p>&nbsp;</p>
					</div>
					<div th:if="${param.error}" class="alert alert-error"><font color="red" th:text="#{frontpage.loginError}"> Ungültger Username und/oder Passwort.</font></div>
					<div th:if="${param.logout}" class="alert alert-success" th:text="#{frontpage.logoutSuccess}"> Sie wurden ausgeloggt. </div>
					<div>
						<input type="text" name="username" th:placeholder="#{frontpage.username}"/>
					</div>
					<div>
						<input type="password" name="password" th:placeholder="#{frontpage.password}"/>
						<div class="row">
							<div class="small-12 columns">
								<button type="submit" class="left small button">Login</button>
							</div>
						</div>
						<label><a th:href="@{/reset}" href="#" th:text="#{frontpage.forgotPassword}">Passwort vergessen?</a> | <a th:href="@{/registration}" href="#" th:text="#{frontpage.registration}">Registrieren</a></label>
					</div>
				</form>
			</div>
			</div>
		</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>