<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="small-12 columns" >
			<div class="small-12 large-8 columns"  >
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<div class="text-center"><h1>Frontpage</h1></div>		
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
			<div class="small-12 large-4 columns" sec:authorize="!isAuthenticated()">
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				
				<form action="#" th:action="@{/}" method="post">
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<div th:if="${param.error}" class="alert alert-error"><font color="red"> Ungültger Username und/oder Passwort.</font></div>
					<div th:if="${param.logout}" class="alert alert-success"> Sie wurden ausgeloggt. </div>
					<label>
						<input type="text" name="username" placeholder="Username" />
					</label>
					<label>
						<input type="password" name="password" placeholder="Passwort"/>
					</label>
					<div class="row">
						<div class="small-12 columns">
							<button type="submit" class="small button">Login</button>
						</div>
					</div>
				</form>

				<a th:href="@{/registration}" href="#">Noch keinen Account? Hier registrieren!</a>
			</div>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>