<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />


<script>
var activityCategoryId = "35";

function checkedActivity(){
	if($("#categoryId option[value='35']").length == 0){
		$("#categoryId").append('<option value="35">Aktivitäten</option>');
	}
	$("#activityDateRow").show();
	$("#categoryId").val(activityCategoryId);
	$("#chooseCategory").hide();
}

function checkedArticle(){
	$("#categoryId option[value='35']").remove();
	$("#categoryId").val('1');
	$("#chooseCategory").show();
	$("#activityDateRow").hide();
}


</script>
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns">
			<p>&nbsp;</p>
			<h4 class="header" th:text="#{newarticle.createarticle}">Angebot einstellen</h4>
			<form action="#" th:action="@{/newArticle}" th:object="${NewArticleForm}" method="post" enctype="multipart/form-data">
				<div class="panel">
					<div class="row">
						<div class="medium-4 mall-12 columns" th:text="#{newarticle.newarticlequestion}">Möchten Sie eine Aktivität (z.b. Sprachkurs, Stadtausflug, Bowlingspiel) oder einen Artikel erstellen?</div>
						<div class="medium-8 small-12 columns">
							<!--  error for incorrect date -->
							<label><font color="red" th:text="${dateError}"> ERROR MESSAGE </font></label>
							<!--  error for incorrect date -->	
							<label><font color="red" th:text="${kindError}"> ERROR MESSAGE </font></label>
							<div class="chooseRole">
								<input id="activity" type="radio" name="kind" value="activity" onclick="checkedActivity()"/>
								<font color="#2ba6cb" for="activity" th:text="#{newArticle.activity}"></font>
								<input id="article" type="radio" name="kind" value="article" onclick="checkedArticle()" />
								<font color="#2ba6cb" for="article" th:text="#{newArticle.good}"></font>
								<br/>
							</div>
						</div>
					</div>
					<br></br>
					<div class="row" id="chooseCategory">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.category}">Kategorie:</div>
						</div>
						<div class="medium-8 small-12 columns">
							<select name="categoryId" id="categoryId">
								<div th:each="entry : ${categories}">
									<option th:value="${entry.cat.id}"><div th:text="#{'categories.' + ${entry.cat.name}}"></div></option>	
									<option th:each="subEntry : ${entry.subcats}" th:value="${subEntry.id}"><div th:text="'--' + #{'categories.' + ${subEntry.name}}"></div></option>	
								</div>
								<!--   <option th:each="categoryForm : ${categoriesForm}" th:value="${categoryForm.id}"><div th:text="${categoryForm.name}"></div></option>		
								-->
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.offertitle}">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label><font color="red" th:text="${titleError}"> ERROR MESSAGE </font></label>
							<input type="text" name="title" th:placeholder="#{newArticle.title}" />
						</div>
					</div>
					
					<!-- datum -->
					<div class="row" id="activityDateRow">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.date}">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label><font color="red" th:text="${titleError}"> ERROR MESSAGE </font></label>
							<input type="text" value="click here!" id="datetimepicker_mask" name="activityDate" />
							<!--  <input type="text" name="title" th:placeholder="#{newArticle.title}" /> -->
						</div>
					</div>
						<!-- datum ende -->
	
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.description}">Beschreibung</div>
						</div>
						<div class="medium-8 small-12 columns">
							<textarea name="description" rows="4" th:placeholder="#{newArticle.description}"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 small-2 columns" th:text="#{newarticle.pictures}">Bilder</div>
						<div class="medium-8 small-10 columns">
							<a><input type="file" name="file"/></a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.city}">Stadt</div>
						</div>
						<div class="medium-8 small-12 columns">										
							<input type="text" name="city" id="city" placeholder="Stadt" th:value="${creator.city}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{newarticle.zipcode}">PLZ</div>
						</div>
						<div class="medium-8 small-12 columns">										
							<input type="text" name="zip" id="zip" placeholder="PLZ" th:value="${creator.zip}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{usersettings.streetHousenumber}">Straße, Hausnummer</div>
						</div>
						<div class="medium-8 small-12 columns">
							<input type="text" name="streetName" id="street" placeholder="Straßenname" th:value="${creator.streetName}"/>
						</div>
					</div>	
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns" th:text="#{usersettings.addressAddition}">Addresszusatz</div>
						</div>
						<div class="medium-8 small-12 columns">
							<input type="text" name="addressAddition" id="addition" th:placeholder="#{usersettings.addressAddition}"  />
						</div>
					</div>				
				</div>

		 		
				

				<button class="right button" type="submit" th:href="@{/}" th:text="#{newarticle.createoffer}">Angebot erstellen</button>

			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>









 

</body>
<script th:src="@{/resources/js/build/jquery.datetimepicker.full.js}"></script>
<script th:src="@{/resources/js/dateTimePicker.js}"></script>
<script th:src="@{/resources/js/jquery.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/jquery.datetimepicker.css}" />
<script>
$("#activityDateRow").hide();
$("#chooseCategory").hide();
jQuery('#datetimepicker_mask').datetimepicker();
</script>
</html>