<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />


<script>
function checkedActivity(){
	var activityCategoryId = "12";
	var selectedCategory = document.getElementById("chooseCategory");
	document.getElementById('categoryId').value=activityCategoryId;
	selectedCategory.style.visibility = 'hidden';
}

function checkedArticle(){
	var selectedCategory = document.getElementById("chooseCategory");
	selectedCategory.style.visibility = 'initial';
}

</script>
</head>

<body>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row">
		<div class="large-12 columns">
			<p>&nbsp;</p>
			<h4 class="header">Angebot einstellen</h4>
			<form action="#" th:action="@{/newArticle}" th:object="${NewArticleForm}" method="post" enctype="multipart/form-data">
				<div class="panel">
					<div class="row">
						<div class="medium-4 mall-12 columns">Möchten Sie eine Aktivität (z.b. Sprachkurs, Stadtausflug, Bowlingspiel) oder einen Artikel erstellen?</div>
						<div class="medium-8 small-12 columns">
							<label><font color="red" th:if="${#fields.hasErrors('kind')}" th:errors="*{kind}"> ERROR MESSAGE</font></label>
							<div class="chooseRole">
								<input id="activity" type="radio" name="kind" value="activity" onclick="checkedActivity()"/>
								<font color="#2ba6cb" for="activity" th:text="Aktivität"></font>
								<input id="article" type="radio" name="kind" value="article" onclick="checkedArticle()" />
								<font color="#2ba6cb" for="article" th:text="Artikel"></font>
								<br/>
							</div>
						</div>
					</div>
					<br></br>
					<div class="row" id="chooseCategory">
						<div class="show-for-medium-up">
							<div class="small-4 columns">Kategorie:</div>
						</div>
						<div class="medium-8 small-12 columns">
							<select name="categoryId" id="categoryId">
								<div th:each="entry : ${categories}">
									<option th:value="${entry.cat.id}"><div th:text="${entry.cat.name}"></div></option>	
									<option th:each="subEntry : ${entry.subcats}" th:value="${subEntry.id}"><div th:text="'--' +${subEntry.name}"></div></option>	
								</div>
								<!--   <option th:each="categoryForm : ${categoriesForm}" th:value="${categoryForm.id}"><div th:text="${categoryForm.name}"></div></option>		
								-->
							</select>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns">Titel der Anzeige</div>
						</div>
						<div class="medium-8 small-12 columns">
							<label ><font color="red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> ERROR MESSAGE</font></label>
							<input type="text" name="title" placeholder="Titel" />
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns">Beschreibung</div>
						</div>
						<div class="medium-8 small-12 columns">
							<textarea name="description" rows="4" placeholder="Beschreibung"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 small-2 columns">Bilder</div>
						<div class="medium-8 small-10 columns">
							<a><input type="file" name="file"/></a>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns">Stadt</div>
						</div>
						<div class="medium-8 small-12 columns">										
							<input type="text" name="city" placeholder="Stadt" th:value="${creator.city}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns">PLZ</div>
						</div>
						<div class="medium-8 small-12 columns">										
							<input type="text" name="zip" placeholder="PLZ" th:value="${creator.zip}"/>
						</div>
					</div>
					<div class="row">
						<div class="show-for-medium-up">
							<div class="small-4 columns">Straße, Hausnummer, Addresszusatz</div>
						</div>
						<div class="medium-8 small-12 columns">
							<input type="text" name="streetName" placeholder="Straßenname" th:value="${creator.streetName}"/>
                            <input type="text" name="houseNumber" placeholder="Hausnummmer" th:value="${creator.houseNumber}"/>                            						
							<input type="text" name="addressAddition" placeholder="(optional)" />
						</div>
					</div>					
				</div>
				<button class="right button" type="submit" th:href="@{/}">Angebot erstellen</button>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

</body>
</html>