<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="jquery-1.11.3.min.js"></script>
</head>
<body>

	<script th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.equalizer.js}"></script>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row" >
		<p>&nbsp;</p>
		<div class="small-12 columns">
			<font color="#0099CC" th:text="${emailConfirm}"> CONFIRMATION MESSAGE </font>
			<h4 class="header" th:text="#{registration.header}">Registrieren</h4>
			<form action="#" th:action="@{/registration}" th:object="${RegistrationForm}" method="post">
				<div class="row" data-equalizer="1">
					<div class="small-12 large-6 columns">
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
								<div class="large-5 columns" th:text="#{registration.role}"></div>
								<div class="large-7 columns">
									<div class="chooseRole">
										<label><font color="red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"> ERROR MESSAGE </font></label>
										<input id="refugee" type="radio" name="role" value="refugee" th:field ="*{role}"/>
										<a for="refugee" th:text="#{registration.refugee}"></a>
										<input id="volunteer" type="radio" name="role"  value="volunteer" th:field ="*{role}" />
										<a for="volunteer" th:text="#{registration.volunteer}"></a>
									</div>                                      
								</div>
							</div>
							<div class="row">
								<div class="large-5 columns"></div>
								<div class="large-7 small-12 columns">
									<label>	
										<font color="red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> ERROR MESSAGE</font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.lastName}">Name</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<font color="red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:text="${nameError}"> ERROR MESSAGE </font>
										<input type="text" name="lastName" th:placeholder="#{registration.lastName}" th:field ="*{lastName}"/>
									</label>                                        
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.firstName}">Vorname</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<font color="red" th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}" th:text="${nameError}"> ERROR MESSAGE </font>
										<input type="text" name="firstName" th:placeholder="#{registration.firstName}" th:field ="*{firstName}"/>
                                    </label>
								</div>
							</div>
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{registration.origin}"></div>
								<div class="large-7 small-9 columns">
									<select id="country" name="country">
										<option value="AF">Afghanistan</option>
										<option value="AX">Åland Islands</option>
										<option value="AL">Albania</option>
										<option value="DZ">Algeria</option>
										<option value="AS">American Samoa</option>
										<option value="AD">Andorra</option>
										<option value="AO">Angola</option>
										<option value="AI">Anguilla</option>
										<option value="AQ">Antarctica</option>
										<option value="AG">Antigua and Barbuda</option>
										<option value="AR">Argentina</option>
										<option value="AM">Armenia</option>
										<option value="AW">Aruba</option>
										<option value="AU">Australia</option>
										<option value="AT">Austria</option>
										<option value="AZ">Azerbaijan</option>
										<option value="BS">Bahamas</option>
										<option value="BH">Bahrain</option>
										<option value="BD">Bangladesh</option>
										<option value="BB">Barbados</option>
										<option value="BY">Belarus</option>
										<option value="BE">Belgium</option>
										<option value="BZ">Belize</option>
										<option value="BJ">Benin</option>
										<option value="BM">Bermuda</option>
										<option value="BT">Bhutan</option>
										<option value="BO">Bolivia</option>
										<option value="BA">Bosnia and Herzegovina</option>
										<option value="BW">Botswana</option>
										<option value="BV">Bouvet Island</option>
										<option value="BR">Brazil</option>
										<option value="IO">British Indian Ocean Territory</option>
										<option value="BN">Brunei Darussalam</option>
										<option value="BG">Bulgaria</option>
										<option value="BF">Burkina Faso</option>
										<option value="BI">Burundi</option>
										<option value="KH">Cambodia</option>
										<option value="CM">Cameroon</option>
										<option value="CA">Canada</option>
										<option value="CV">Cape Verde</option>
										<option value="KY">Cayman Islands</option>
										<option value="CF">Central African Republic</option>
										<option value="TD">Chad</option>
										<option value="CL">Chile</option>
										<option value="CN">China</option>
										<option value="CX">Christmas Island</option>
										<option value="CC">Cocos (Keeling) Islands</option>
										<option value="CO">Colombia</option>
										<option value="KM">Comoros</option>
										<option value="CG">Congo</option>
										<option value="CD">Congo, The Democratic Republic of The</option>
										<option value="CK">Cook Islands</option>
										<option value="CR">Costa Rica</option>
										<option value="CI">Cote D'ivoire</option>
										<option value="HR">Croatia</option>
										<option value="CU">Cuba</option>
										<option value="CY">Cyprus</option>
										<option value="CZ">Czech Republic</option>
										<option value="DK">Denmark</option>
										<option value="DJ">Djibouti</option>
										<option value="DM">Dominica</option>
										<option value="DO">Dominican Republic</option>
										<option value="EC">Ecuador</option>
										<option value="EG">Egypt</option>
										<option value="SV">El Salvador</option>
										<option value="GQ">Equatorial Guinea</option>
										<option value="ER">Eritrea</option>
										<option value="EE">Estonia</option>
										<option value="ET">Ethiopia</option>
										<option value="FK">Falkland Islands (Malvinas)</option>
										<option value="FO">Faroe Islands</option>
										<option value="FJ">Fiji</option>
										<option value="FI">Finland</option>
										<option value="FR">France</option>
										<option value="GF">French Guiana</option>
										<option value="PF">French Polynesia</option>
										<option value="TF">French Southern Territories</option>
										<option value="GA">Gabon</option>
										<option value="GM">Gambia</option>
										<option value="GE">Georgia</option>
										<option value="DE">Germany</option>
										<option value="GH">Ghana</option>
										<option value="GI">Gibraltar</option>
										<option value="GR">Greece</option>
										<option value="GL">Greenland</option>
										<option value="GD">Grenada</option>
										<option value="GP">Guadeloupe</option>
										<option value="GU">Guam</option>
										<option value="GT">Guatemala</option>
										<option value="GG">Guernsey</option>
										<option value="GN">Guinea</option>
										<option value="GW">Guinea-bissau</option>
										<option value="GY">Guyana</option>
										<option value="HT">Haiti</option>
										<option value="HM">Heard Island and Mcdonald Islands</option>
										<option value="VA">Holy See (Vatican City State)</option>
										<option value="HN">Honduras</option>
										<option value="HK">Hong Kong</option>
										<option value="HU">Hungary</option>
										<option value="IS">Iceland</option>
										<option value="IN">India</option>
										<option value="ID">Indonesia</option>
										<option value="IR">Iran, Islamic Republic of</option>
										<option value="IQ">Iraq</option>
										<option value="IE">Ireland</option>
										<option value="IM">Isle of Man</option>
										<option value="IL">Israel</option>
										<option value="IT">Italy</option>
										<option value="JM">Jamaica</option>
										<option value="JP">Japan</option>
										<option value="JE">Jersey</option>
										<option value="JO">Jordan</option>
										<option value="KZ">Kazakhstan</option>
										<option value="KE">Kenya</option>
										<option value="KI">Kiribati</option>
										<option value="KP">Korea, Democratic People's Republic of</option>
										<option value="KR">Korea, Republic of</option>
										<option value="KW">Kuwait</option>
										<option value="KG">Kyrgyzstan</option>
										<option value="LA">Lao People's Democratic Republic</option>
										<option value="LV">Latvia</option>
										<option value="LB">Lebanon</option>
										<option value="LS">Lesotho</option>
										<option value="LR">Liberia</option>
										<option value="LY">Libyan Arab Jamahiriya</option>
										<option value="LI">Liechtenstein</option>
										<option value="LT">Lithuania</option>
										<option value="LU">Luxembourg</option>
										<option value="MO">Macao</option>
										<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
										<option value="MG">Madagascar</option>
										<option value="MW">Malawi</option>
										<option value="MY">Malaysia</option>
										<option value="MV">Maldives</option>
										<option value="ML">Mali</option>
										<option value="MT">Malta</option>
										<option value="MH">Marshall Islands</option>
										<option value="MQ">Martinique</option>
										<option value="MR">Mauritania</option>
										<option value="MU">Mauritius</option>
										<option value="YT">Mayotte</option>
										<option value="MX">Mexico</option>
										<option value="FM">Micronesia, Federated States of</option>
										<option value="MD">Moldova, Republic of</option>
										<option value="MC">Monaco</option>
										<option value="MN">Mongolia</option>
										<option value="ME">Montenegro</option>
										<option value="MS">Montserrat</option>
										<option value="MA">Morocco</option>
										<option value="MZ">Mozambique</option>
										<option value="MM">Myanmar</option>
										<option value="NA">Namibia</option>
										<option value="NR">Nauru</option>
										<option value="NP">Nepal</option>
										<option value="NL">Netherlands</option>
										<option value="AN">Netherlands Antilles</option>
										<option value="NC">New Caledonia</option>
										<option value="NZ">New Zealand</option>
										<option value="NI">Nicaragua</option>
										<option value="NE">Niger</option>
										<option value="NG">Nigeria</option>
										<option value="NU">Niue</option>
										<option value="NF">Norfolk Island</option>
										<option value="MP">Northern Mariana Islands</option>
										<option value="NO">Norway</option>
										<option value="OM">Oman</option>
										<option value="PK">Pakistan</option>
										<option value="PW">Palau</option>
										<option value="PS">Palestinian Territory, Occupied</option>
										<option value="PA">Panama</option>
										<option value="PG">Papua New Guinea</option>
										<option value="PY">Paraguay</option>
										<option value="PE">Peru</option>
										<option value="PH">Philippines</option>
										<option value="PN">Pitcairn</option>
										<option value="PL">Poland</option>
										<option value="PT">Portugal</option>
										<option value="PR">Puerto Rico</option>
										<option value="QA">Qatar</option>
										<option value="RE">Reunion</option>
										<option value="RO">Romania</option>
										<option value="RU">Russian Federation</option>
										<option value="RW">Rwanda</option>
										<option value="SH">Saint Helena</option>
										<option value="KN">Saint Kitts and Nevis</option>
										<option value="LC">Saint Lucia</option>
										<option value="PM">Saint Pierre and Miquelon</option>
										<option value="VC">Saint Vincent and The Grenadines</option>
										<option value="WS">Samoa</option>
										<option value="SM">San Marino</option>
										<option value="ST">Sao Tome and Principe</option>
										<option value="SA">Saudi Arabia</option>
										<option value="SN">Senegal</option>
										<option value="RS">Serbia</option>
										<option value="SC">Seychelles</option>
										<option value="SL">Sierra Leone</option>
										<option value="SG">Singapore</option>
										<option value="SK">Slovakia</option>
										<option value="SI">Slovenia</option>
										<option value="SB">Solomon Islands</option>
										<option value="SO">Somalia</option>
										<option value="ZA">South Africa</option>
										<option value="GS">South Georgia and The South Sandwich Islands</option>
										<option value="ES">Spain</option>
										<option value="LK">Sri Lanka</option>
										<option value="SD">Sudan</option>
										<option value="SR">Suriname</option>
										<option value="SJ">Svalbard and Jan Mayen</option>
										<option value="SZ">Swaziland</option>
										<option value="SE">Sweden</option>
										<option value="CH">Switzerland</option>
										<option value="SY">Syrian Arab Republic</option>
										<option value="TW">Taiwan, Province of China</option>
										<option value="TJ">Tajikistan</option>
										<option value="TZ">Tanzania, United Republic of</option>
										<option value="TH">Thailand</option>
										<option value="TL">Timor-leste</option>
										<option value="TG">Togo</option>
										<option value="TK">Tokelau</option>
										<option value="TO">Tonga</option>
										<option value="TT">Trinidad and Tobago</option>
										<option value="TN">Tunisia</option>
										<option value="TR">Turkey</option>
										<option value="TM">Turkmenistan</option>
										<option value="TC">Turks and Caicos Islands</option>
										<option value="TV">Tuvalu</option>
										<option value="UG">Uganda</option>
										<option value="UA">Ukraine</option>
										<option value="AE">United Arab Emirates</option>
										<option value="GB">United Kingdom</option>
										<option value="US">United States</option>
										<option value="UM">United States Minor Outlying Islands</option>
										<option value="UY">Uruguay</option>
										<option value="UZ">Uzbekistan</option>
										<option value="VU">Vanuatu</option>
										<option value="VE">Venezuela</option>
										<option value="VN">Viet Nam</option>
										<option value="VG">Virgin Islands, British</option>
										<option value="VI">Virgin Islands, U.S.</option>
										<option value="WF">Wallis and Futuna</option>
										<option value="EH">Western Sahara</option>
										<option value="YE">Yemen</option>
										<option value="ZM">Zambia</option>
										<option value="ZW">Zimbabwe</option>
									</select>
									<label>
										<font color="red" th:text="${usernameError}"> ERROR MESSAGE </font>
										<font color="red" th:text="${usernameUsed}"> ERROR MESSAGE </font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">	
									<div class="large-5 medium-3 columns" th:text="#{registration.username}">Username</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<input type="text" name="username" th:placeholder="#{registration.username}" th:field ="*{username}"/>
										<font color="red" th:text="${emailError}"> ERROR MESSAGE </font>
										<font color="red" th:text="${emailUsed}"> ERROR MESSAGE </font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.email}">E-Mail</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label> 						
										<input name="email" placeholder="E-Mail" th:field ="*{email}"/>
										<font color="red" th:text="${passwordError}"> ERROR MESSAGE </font>                                    </label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.password}">Passwort</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>										
										<input type="password" id="password" name="password" th:placeholder="#{registration.password}" th:field ="*{password}"/>
                                    	<font color="red" th:text="${passwordConfirmError}"> ERROR MESSAGE </font>
                                    </label> 
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.confirmPassword}">Passwort wiederholen</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>										                                        
                                        <input type="password" name="confirmPW" th:placeholder="#{registration.confirmPassword}" th:field ="*{confirmPW}"/>
                                    </label>
								</div>
							</div>
							<div class="row">
                                <div class="small-12 columns">
                                	<div class="g-recaptcha" data-sitekey="6LdakhETAAAAAJtE5rWb3kQuTi-GcEoUiS94ULai"></div>
                            	</div>
                            </div>
						</div>
					</div>
					<div class="small-12 large-6 columns">
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
							<div class="large-5 small-3 columns"></div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<font color="red" th:text="${cityError}"> ERROR MESSAGE </font>                                    </label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.city}">Stadt</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>										
										<input type="text" name="city" th:placeholder="#{registration.city}" th:field ="*{city}"/>
										<font color="red" th:text="${zipError}"> ERROR MESSAGE </font>                                    </label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.zip}">PLZ</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>										
										<input type="text" name="zip" th:placeholder="#{registration.zip}" th:field ="*{zip}"/>
										<font color="red" th:text="${streetError}"> ERROR MESSAGE </font>                                    </label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.streetHousenumber}">Straße, Hausnummer</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<input type="text" name="streetName" th:placeholder="#{registration.streetHousenumber}" th:field ="*{streetName}"/>
										<font color="red" th:if="${#fields.hasErrors('addressAddition')}" th:errors="*{addressAddition}"> ERROR MESSAGE </font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 medium-3 columns" th:text="#{registration.addressAddition}">Adresszusatz</div>
								</div>
								<div class="large-7 medium-9 small-12 columns">
									<label>
										<input type="text" name="addressAddition" th:placeholder="#{registration.addressAddition}" th:field ="*{addressAddition}"/>
									</label>
								</div>
							</div>
							<div class="row" id="choose_lang1">
								<div class="large-5 small-3 columns" th:text="#{registration.language1}">Sprache 1</div>
								<div class="large-7 small-9 columns">
									<select name="language1" class="selbox" onchange="removeSelectedItem(this)">
										<option value="" selected="selected"> - </option>
										<option value="german" th:text="#{registration.german}">Deutsch</option>
										<option value="english" th:text="#{registration.english}">Englisch</option>
										<option value="arab" th:text="#{registration.arab}">Arabisch</option>
										<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
									</select>
									</div>
							</div>
							<div class="row" id="choose_lang2">
								<div class="large-5 small-3 columns" th:text="#{registration.language2}">Sprache 2</div>
								<div class="large-7 small-9 columns">
									<select name="language2" class="selbox" onchange="removeSelectedItem(this)">
										<option value="" selected="selected"> - </option>
										<option value="german" th:text="#{registration.german}">Deutsch</option>
										<option value="english" th:text="#{registration.english}">Englisch</option>
										<option value="arab" th:text="#{registration.arab}">Arabisch</option>
										<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
									</select>
								</div>
							</div>
							<div class="row" id="choose_lang3">
								<div class="large-5 small-3 columns" th:text="#{registration.language3}">Sprache 3</div>
								<div class="large-7 small-9 columns">
									<select name="language3" class="selbox" onchange="removeSelectedItem(this)">
										<option value="" selected="selected"> - </option>
										<option value="german" th:text="#{registration.german}">Deutsch</option>
										<option value="english" th:text="#{registration.english}">Englisch</option>
										<option value="arab" th:text="#{registration.arab}">Arabisch</option>
										<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
									</select>
								</div>
                            </div>
						</div>
						<button class="right button" type="submit" th:href="@{/}" th:text="#{registration.register}">Registrieren</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

	<script>
		$(document).foundation();
	</script>
	
<script th:src="@{/resources/js/jquery.js}"></script>
<script>
	$("#choose_lang2").hide();
	$("#choose_lang3").hide();
	
	$("#choose_lang1" ).change(function() {
		$("#choose_lang2").show();
		});
		
	$("#choose_lang2" ).change(function() {
		$("#choose_lang3").show();
		});
</script>
<script type="text/javascript">
    <![CDATA[
    function removeSelectedItem(selectedItem)
    {
        var selectedValue = selectedItem.options[selectedItem.selectedIndex].value
        var selectBoxes = document.getElementsByTagName("select");

        for (var i=0; i < selectBoxes.length; i++)
        {
            var curValue = selectBoxes[i].options[selectBoxes[i].selectedIndex].value

            for (var j=1; j < selectBoxes[i].options.length; j++)
            {
                if (j != selectBoxes[i].selectedIndex && selectBoxes[i].options[j].value == selectedValue)
                    selectBoxes[i].remove(j);
            }
        }
    }
    ]]>
</script>

<!-- Buggy Remove  options function
<script type="text/javascript">
    $(document).on('change','select',function(){
    	$(this).addClass('exception');
    	$('option[value="' + this.value + '"]:not(.exception *)').remove();
    	$(this).removeClass('exception');
	});
</script>
-->

<!-- non-buggy disable options function -->
<script type="text/javascript">
	$(document).on('change','select',function(){
    	$('option[value="disabled"]').prop('disabled',false);
    	$(this).addClass('exception');
    	$('option[value="' + this.value + '"]:not(.exception *)').prop('disabled',true);
    	$(this).removeClass('exception');
	});
</script>
</body>
</html>
