<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

	<script th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.equalizer.js}"></script>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row" >
		<p>&nbsp;</p>
		<div class="small-12 columns">
			<h4 class="header">Registrieren</h4>
			<form action="#" th:action="@{/registration}" th:object="${RegistrationForm}" method="post">
				<div class="row" data-equalizer="1">
					<div class="small-12 large-6 columns">
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
    							<div class="small-12 columns">
									<div class="chooseRole">
										<label><font color="red" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"> ERROR MESSAGE </font></label>
										<input id="refugee" type="radio" name="role" value="refugee" th:field ="*{role}"/>
										<label	for="refugee"><p> Flüchtling</p></label>
										<input id="volunteer" type="radio" name="role"  value="volunteer" th:field ="*{role}" />
										<label for="volunteer"><p> Helfender</p></label>
										<br />
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="large-5 columns"></div>
								<div class="large-7 small-12 columns">
									<label>	
										<font color="red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> ERROR MESSAGE</font>
									</label>
								</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 columns" th:text="#{registration.lastName}">Name</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>											
											<input type="text" name="lastName" placeholder="Name" th:field ="*{lastName}"/>
											<font color="red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> ERROR MESSAGE </font>
										</label>                                        
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.firstName}">Vorname</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>				
											<input type="text" name="firstName" placeholder="Vorname" th:field ="*{firstName}"/>
	                                    	<font color="red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> ERROR MESSAGE </font>
	                                    </label>
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">	
										<div class="large-5 small-3 columns" th:text="#{registration.username}">Username</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>
											<input type="text" name="username" placeholder="Username" th:field ="*{username}"/>
	                                   		<font color="red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> ERROR MESSAGE </font>
	                                    </label>  
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.email}">E-Mail</div>
									</div>
									<div class="large-7 small-12 columns">
										<label> 						
											<input type="email" name="email" placeholder="E-Mail" th:field ="*{email}"/>
	                                   		<font color="red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> ERROR MESSAGE </font>
	                                    </label> 
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.password}">Passwort</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>										
											<input type="password" id="password" name="password" placeholder="Passwort" th:field ="*{password}"/>
	                                    	<font color="red" th:text="${confirmError}"> ERROR MESSAGE </font>
	                                    </label> 
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.confirmPassword}">Passwort wiederholen</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>										                                        
	                                        <input type="password" name="confirmPW" placeholder="Passwort wiederholen" th:field ="*{confirmPW}"/>
	                                    </label>
									</div>
							</div>
							<div class="row">
                                <div class="small-12 columns">
                                <div class="g-recaptcha" data-sitekey="6LdakhETAAAAAJtE5rWb3kQuTi-GcEoUiS94ULai"></div>
                                </div>
                            </div>
						</div>
					</div>
					<div class="small-12 large-6 columns">
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
							<div class="large-5 small-3 columns"></div>
									<div class="large-7 small-12 columns">
										<label>										
											<font color="red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"> ERROR MESSAGE </font>
	                                    </label>
									</div>
							</div>
							<div class="row">
									
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.city}">Stadt</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>										
											<input type="text" name="city" placeholder="Stadt" th:field ="*{city}"/>
	                                    	<font color="red" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"> ERROR MESSAGE </font>
	                                    </label>
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.zip}">PLZ</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>										
											<input type="text" name="zip" placeholder="PLZ" th:field ="*{zip}"/>
	                                   		<font color="red" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"> ERROR MESSAGE </font>
	                                    </label>  
									</div>
							</div>
							<div class="row">
									<div class="show-for-medium-up">
										<div class="large-5 small-3 columns" th:text="#{registration.address}">Straße, Hausnummer, Addresszusatz</div>
									</div>
									<div class="large-7 small-12 columns">
										<label>
											
											<input type="text" name="streetName" placeholder="Straßenname" th:field ="*{streetName}"/>
										</label>
										<label>
											<font color="red" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"> ERROR MESSAGE </font>
                                            <input type="text" name="houseNumber" placeholder="Hausnummmer" th:field ="*{houseNumber}"/>                                        
                                        </label>
										<label>
											<font color="red" th:if="${#fields.hasErrors('addressAddition')}" th:errors="*{addressAddition}"> ERROR MESSAGE </font>
											<input type="text" name="addressAddition" placeholder="(optional)" th:field ="*{addressAddition}"/>
										</label>
									</div>
							</div>
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{registration.language1}">Sprache 1</div>
								<div class="large-7 small-9 columns">
									<select name="language1">
										<option value="" selected="selected"> - </option>
										<option value="german" th:text="#{registration.german}">Deutsch</option>
										<option value="english" th:text="#{registration.english}">Englisch</option>
										<option value="arab" th:text="#{registration.arab}">Arabisch</option>
										<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
									</select>
									</div>
							</div>
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{registration.language2}">Sprache 2</div>
								<div class="large-7 small-9 columns">
									<select name="language2">
										<option value="" selected="selected"> - </option>
										<option value="german" th:text="#{registration.german}">Deutsch</option>
										<option value="english" th:text="#{registration.english}">Englisch</option>
										<option value="arab" th:text="#{registration.arab}">Arabisch</option>
										<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
									</select>
								</div>
							</div>
							<div class="row">
									<div class="large-5 small-3 columns" th:text="#{registration.language3}">Sprache 3</div>
									<div class="large-7 small-9 columns">
										<select name="language3">
											<option value="" selected="selected"> - </option>
											<option value="german" th:text="#{registration.german}">Deutsch</option>
											<option value="english" th:text="#{registration.english}">Englisch</option>
											<option value="arab" th:text="#{registration.arab}">Arabisch</option>
											<option value="spanish" th:text="#{registration.spanish}">Spanisch</option>
										</select>
									</div>
                            </div>
                            <div class="row">
                                <div class="small-12 columns">
                                    <button type="submit" th:href="@{/}" th:text="#{registration.register}">Registrieren</button>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

	<script>
		$(document).foundation();
		console.log("javascript loaded");
	</script>
	
</body>
</html>
