<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<script th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.equalizer.js}"></script>

	<nav th:include="topbar :: topbar"></nav>

	<div class="row" data-equalizer="1">
		<div class="small-12 columns">
			<p>&nbsp;</p>

			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
				<li th:each="Article : ${anzeigen}">
					<a th:href="@{/showArticle/}+${Article.id}">
						<img th:src="@{/showPicture/}+${Article.id}"/>
						<div class="panel" data-equalizer-watch="1">
							<h5 th:text="${Article.title}">Item Name</h5>
							<h5><small th:text="${Article.location}"></small></h5> 
						</div>
					</a>
				</li>				
			</ul>
			</div>

			
		<div class="pagination-centered">
			<ul class="pagination">
				<li th:if="${currentPage} > 0" class="arrow"><a th:href="@{/search/{page}(page=${currentPage-1})}">&laquo;</a></li>
				<li th:if="${currentPage} > 1" ><a th:href="@{/search/{page}(page=${0})}" th:text="${1}"></a></li>
				<li th:if="${currentPage} > 2" class="unavailable"><a href="">&hellip;</a></li>
				<li th:if="${currentPage} > 0" ><a th:href="@{/search/{page}(page=${currentPage-1})}" th:text="${currentPage}"></a></li>
				<li class="current"><a href="" th:text="${currentPage+1}">1</a></li>
				<li><a th:href="@{/search/{page}(page=${currentPage+1})}" th:text="${currentPage+2}">2</a></li>
				<li class="arrow"><a th:href="@{/search/{page}(page=${currentPage+1})}">&raquo;</a></li>
			</ul>
		</div>
	</div>

	<footer th:include="footer :: footer"></footer>

	<script>
		$(document).foundation();
	</script>

</body>
</html>