<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<script th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.equalizer.js}"></script>

	<nav th:include="topbar :: topbar"></nav>

	<div th:if="${FormAttributes != null and not #lists.isEmpty(FormAttributes)}" class="row" name="Search">			
		<div class="small-12 columns">
			<p>&nbsp;</p>
			<h4 class="header">Welche Tags sollen gesucht werden?</h4>
			<form action="#" th:action="@{/searchbytags}" th:object="${NewAttributes}" method="post">
				<div th:each="Attribute : ${FormAttributes}" > 
					<label th:text="${Attribute.name}"></label>
					<select th:field="*{choosenTags}">
		  				<option th:each="String : ${Attribute.tags}" th:value="${String}" th:text="${String}"></option>
					</select>
				</div>
				<button class="right button" type="submit" th:href="@{/}">Suchen</button>
			</form>
		</div>
	</div>
	
	<div class="row" data-equalizer="1">
		<div class="small-12 columns">
			<p>&nbsp;</p>
			<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4" >
				<li th:each="Article : ${anzeigen}">
					<a th:href="@{/showArticle/}+${Article.id}">
						<img th:src="@{/showPicture/}+${Article.id}"/>
						<div class="panel" data-equalizer-watch="1">
							<h5 th:text="${Article.title}">Item Name</h5>
							<h5><small th:text="${Article.location}"></small></h5> 
						</div>
					</a>
				</li>				
			</ul>
		</div>
			
		<div th:if="${#lists.isEmpty(anzeigen)} == true" class="row">
			<div class="small-12 columns">
				<h5 class="text-center" th:text="#{search.noResults}">Leider keine Ergebnisse</h5>
			</div>
		</div>

		<!-- <div class="pagination-centered">
			<ul class="pagination">
				<li class="arrow unavailable"><a href="">&laquo;</a></li>
				<li class="current"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li class="unavailable"><a href="">&hellip;</a></li>
				<li><a href="">12</a></li>
				<li><a href="">13</a></li>
				<li class="arrow"><a href="">&raquo;</a></li>
			</ul>
		</div>  -->
	</div>

	<footer th:include="footer :: footer"></footer>

	<script>
		$(document).foundation();
	</script>

</body>
</html>