<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
</head>

<body>

	<p th:text="${currentLocale}"></p>
	<hr></hr>
	<p th:each="possibleLocale : ${allLocales}" th:text="${possibleLocale}"></p>
	
	
</body>
</html>