<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/style_button.css}" />
<script th:src="@{/resources/js/vendor/modernizr.js}"></script>

</head>

<body>
	<nav th:fragment="topbar">
	
	<form th:action="@{/setsearchaddress}"  th:object="${Ort}" method="post">
		<nav class="top-bar" data-topbar="true" role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1>
						<a th:href="@{/search}" th:text="#{topbar.name}">Appname.</a>
					</h1>
				</li>
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#" ><span>Menu</span></a></li>
			</ul>
			<section class="top-bar-section">
				<!-- Right Nav Section -->
				<ul class="right">
					<li class="has-dropdown"><a href="#" th:text="#{topbar.language} + ' (switch language)'">Sprache wählen</a> 
							<ul class="dropdown">
							<li><a href="?language=ar" th:text="#{registration.arab}">Arabisch</a></li>
							<li><a href="?language=en" th:text="#{registration.english}">Englisch</a></li>
							<li><a href="?language=de" th:text="#{registration.german}">Deutsch</a></li>
							</ul>		
					 </li>
				
					<li class="active"><a th:href="@{/newArticle}" th:text="#{topbar.listArticle}">Angebot
							einstellen</a></li>
					<li class="divider"></li>
					<li class="has-dropdown"><a href="#" th:text="#{topbar.account}">Account</a>
						<ul class="dropdown">
<!-- 							<li class="has-dropdown"><a href="#" th:text="#{topbar.language}">Sprache</a> -->
<!-- 							<ul class="dropdown"> -->
<!-- 								<li><a href="/frontpage">deutsch</a></li> -->
<!-- 							</ul> -->
<!-- 							</li> -->
							<li><a sec:authorize="isAuthenticated()" th:href="@{/chat}" th:text="#{topbar.messages}">Nachrichten</a></li>
							<li><a sec:authorize="isAuthenticated()" th:href="@{/search/myArticles}" th:text="#{topbar.myArticles}">Meine Angebote</a></li>
							<li><a sec:authorize="isAuthenticated()" th:href="@{/usersettings}" th:text="#{topbar.settings}">Einstellungen</a></li>
							<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{topbar.logout}">Ausloggen</a></li>
							<li sec:authorize="!isAuthenticated()"><a th:href="@{/registration}" th:text="#{topbar.register}">Einloggen</a></li>
							<li sec:authorize="!isAuthenticated()"><a th:href="@{/}" th:text="#{topbar.login}">Einloggen</a></li>
						</ul>
					</li>
					<li class="divider"></li>
				</ul>

				<!-- Left Nav Section -->
					<ul class="left">		
					<li class="divider"></li>
					<li class="has-dropdown"><a href="#" th:text="#{'categories.' + ${current_category.name}}">alle Kategorien</a> 
					
						<!--  actual list -->
						<ul class="dropdown" id="dropdown">
							<li th:each="categoryTopbar : ${categories}" class="has-dropdown">
								<a th:href="@{/search/{id}(id=${categoryTopbar.cat.id})}"><span
									th:text="#{'categories.' + ${categoryTopbar.cat.name}}" >Subkategorien anschauen</span></a>
								<ul class="dropdown">
									<li th:each="subcategory : ${categoryTopbar.subcats}"><a
										th:href="@{/search/{id}(id=${subcategory.id})}"><span
											th:text="#{'categories.' + ${subcategory.name}}" >Subkategorien anschauen</span></a></li>
								</ul>
							</li>
						</ul>
						<!--  actual list end -->
					
					</li>
					<li class="divider"></li> 
					<li class="has-form"><input type="text" name="address" th:value="${#strings.isEmpty(current_ort.address) == false} ?  ${current_ort.address} : ''" th:placeholder="#{${#strings.isEmpty(current_ort.address) == true} ?  'topbar.locationOrZip' : ''}"/></li> 
					<li class="divider"></li>
					<li class="has-dropdown"><a href="#" th:text="#{${current_ort.distance == 0} ?   'topbar.searchmorethan30km'   : 'topbar.search'+${current_ort.distance}+'km'}">Suche im Umkreis von</a>
						<ul class="dropdown">
							<li><a href="#"><input type="radio" name="distance" id="distance" value="5" th:text="#{topbar.5km}"/></a></li>
							<li><a href="#"><input type="radio" name="distance" id="distance" value="10" th:text="#{topbar.10km}"/></a></li>
							<li><a href="#"><input type="radio" name="distance" id="distance" value="20" th:text="#{topbar.20km}"/></a></li>
							<li><a href="#"><input type="radio" name="distance" id="distance" value="30" th:text="#{topbar.30km}"/></a></li>
							<li><a href="#"><input type="radio" name="distance" id="distance" value="0" th:text="#{topbar.morethan30km}"/></a></li>
						</ul>
					</li>
					<li class="divider"></li>
					<li class="has-form">
      				<button id="search" value ="Suchen" type="submit" th:text="#{topbar.search}">Suchen</button>
    				</li>
					

				</ul>
			</section>
		</nav>


		<script th:src="@{/resources/js/vendor/jquery.js}"></script>
		<script th:src="@{/resources/js/foundation.min.js}"></script>
		<script>
			$(document).foundation();
		</script>
	</form>
	</nav>
</body>
</html>