<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Refugee</title>
    <link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />   
    <link rel="stylesheet" th:href="@{/resources/css/style_button.css}" /> 
    <script th:src="@{/resources/js/vendor/modernizr.js}"></script>
  </head>

<body>
    
<nav th:include="topbar :: topbar"> </nav>

	<div class="row">
		<hr />
		<div class="large-12 columns">
			<div class="row">
				<div class="large-12 columns">
					<div class="large-6 small-12 columns">
						<h4>Einstellungen</h4>
					</div>
				</div>
			</div>

			<div class="large-6 small-12 columns">
				<h5>Passwort ändern</h5>
				<div class="panel">
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Altes Passwort</div>
							<div class="large-7 small-9 columns">
								<input type="text" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Neues Passwort</div>
							<div class="large-7 small-9 columns">
								<input type="text" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Neues Passwort
								wiederholen</div>
							<div class="large-7 small-9 columns">
								<input type="text" />
							</div>
						</div>
					</div>
					<div class="button">Neues Passwort speichern</div>
				</div>

				<h5>E-Mail-Adresse ändern</h5>
				<div class="panel">
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Neue E-Mail-Adresse</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="fluechtling@deutschland.com" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Neue E-Mail-Adresse
								wiederholen</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="fluechtling@deutschland.com" />
							</div>
						</div>
					</div>
					<div class="button">E-Mail-Adresse bestätigen</div>
				</div>

			</div>

			<div class="large-6 small-12 columns">
				<h5>Sprache ändern</h5>
				<div class="panel">
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Sprache 1</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="Deutsch" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Sprache 2</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="Englisch" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Sprache 3</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="Russisch" />
							</div>
						</div>
					</div>
					<div class="button">Sprachen bestätigen</div>
				</div>

				<h5>Wohnort ändern</h5>
				<div class="panel">
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Stadt</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="Dresden" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">PLZ</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="01309" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<div class="large-5 small-3 columns">Straße, Hausnummer</div>
							<div class="large-7 small-9 columns">
								<input type="text" placeholder="irgendwo, 42" />
							</div>
						</div>
					</div>
					<div class="button">Wohnort bestätigen</div>
				</div>

			</div>

		</div>
	</div>



	<footer class="row">
<div class="large-12 columns"><hr/>
  <div class="row">

    <div class="small-6 columns">
      <p>© Gruppe 10 SWT</p>
    </div>

    <div class="small-6 columns">
      <ul class="inline-list right">
        <li><a href="#">Impressum</a></li>
      </ul>
    </div>

  </div>
</div>
</footer>
             
</body>
</html>