<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Refugee</title>
<link rel="stylesheet" th:href="@{/resources/css/foundation.css}" />
<link rel="stylesheet" th:href="@{/resources/css/backgroundImage.css}" />
</head>

<body>

	<script th:src="@{/resources/js/vendor/jquery.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.js}"></script>
	<script th:src="@{/resources/js/foundation/foundation.equalizer.js}"></script>
	
	<nav th:include="topbar :: topbar"></nav>
	<div class="show-for-medium-up">
		<p>&nbsp;</p>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<font color="#0099CC" th:text="${emailConfirm}"> CONFIRMATION MESSAGE </font>
			<div class="row">
				<div class="large-6 small-12 columns">
					<h4 th:text="#{usersettings.header}">Einstellungen</h4>
				</div>
			</div>
			<form action="#" th:action="@{/usersettings}" th:object="${UserSettingsForm}" method="post">
				<div class="row" data-equalizer="1">
					<div class="large-6 small-12 columns">
						<h5 th:text="#{usersettings.changePassword}">Passwort ändern</h5>
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
								<div class="medium-5 small-3 columns"></div>
								<div class="medium-7 small-12 columns">
									<label>
										<font color="red" th:text="${oldPwError}"> ERROR MESSAGE </font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.oldPassword}">Altes Passwort</div>
								</div>
								<div class="large-7 small-12 columns">
									<input type="password" name="oldPassword" th:placeholder="#{usersettings.oldPassword}"/>
									<label><font color="red" th:text="${passwordError}"> ERROR MESSAGE </font></label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.newPassword}">Neues Passwort</div>
								</div>
								<div class="large-7 small-12 columns">
									<input type="password" name="newPassword" th:placeholder="#{usersettings.newPassword}"/>
									<label><font color="red" th:text="${passwordConfirmError}"> ERROR MESSAGE </font></label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.confirmNewPassword}">Neues Passwort wiederholen</div>
								</div>
								<div class="large-7 small-12 columns">
									<input type="password" name="confirmPW" th:placeholder="#{usersettings.confirmNewPassword}"/>
								</div>
							</div>
						</div>
					</div>
					<div class="large-6 small-12 columns">
						<h5 th:text="#{usersettings.changeLanguage}">Sprache ändern</h5>
						<div class="panel" data-equalizer-watch="1">
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{usersettings.language1}">Sprache 1</div>
								<div class="large-7 small-9 columns">
									<select name="newLanguage1">
										<option value="null"> - </option>
										<option value="عربي (Arabic)"  th:selected="${user.language1 == 'عربي (Arabic)'}">عربي (Arabic)</option>
										<option value="Български (Bulgarian)"
											th:selected="${user.language1 == 'Български (Bulgarian)'}">Български
											(Bulgarian)</option>
										<option value="বাংলা (Bengali)"
											th:selected="${user.language1 == 'বাংলা (Bengali)'}">বাংলা
											(Bengali)</option>
										<option value="Čeština (Czech)"
											th:selected="${user.language1 == 'Čeština (Czech)'}">Čeština
											(Czech)</option>
										<option value="Dansk (Danish)"
											th:selected="${user.language1 == 'Dansk (Danish)'}">Dansk
											(Danish)</option>
										<option value="Deutsch (German)"
											th:selected="${user.language1 == 'Deutsch (German)'}">Deutsch
											(German)</option>
										<option value="Ελληνικά (Greek)"
											th:selected="${user.language1 == 'Ελληνικά (Greek)'}">Ελληνικά
											(Greek)</option>
										<option value="English (English)"
											th:selected="${user.language1 == 'English (English)'}">English
											(English)</option>
										<option value="Español (Spanish)"
											th:selected="${user.language1 == 'Español (Spanish)'}">Español
											(Spanish)</option>
										<option value="Eesti (Estonia)"
											th:selected="${user.language1 == 'Eesti (Estonia)'}">Eesti
											(Estonia)</option>
										<option value="فارسی (Farsi)"
											th:selected="${user.language1 == 'فارسی (Farsi)'}">فارسی
											(Farsi)</option>
										<option value="Suomi (Finnish)"
											th:selected="${user.language1 == 'Suomi (Finnish)'}">Suomi
											(Finnish)</option>
										<option value="Français (French)"
											th:selected="${user.language1 == 'Français (French)'}">Français
											(French)</option>
										<option value="हिन्दी (Hindi)"
											th:selected="${user.language1 == 'हिन्दी (Hindi)'}">हिन्दी
											(Hindi)</option>
										<option value="Magyar (Hungarian)"
											th:selected="${user.language1 == 'Magyar (Hungarian)'}">Magyar
											(Hungarian)</option>
										<option value="Indonesia (Indonesia)"
											th:selected="${user.language1 == 'Indonesia (Indonesia)'}">Indonesia
											(Indonesia)</option>
										<option value="Íslenska (Icelandic)"
											th:selected="${user.language1 == 'Íslenska (Icelandic)'}">Íslenska
											(Icelandic)</option>
										<option value="Italiano (Italian)"
											th:selected="${user.language1 == 'Italiano (Italian)'}">Italiano
											(Italian)</option>
										<option value="日本語 (Japanese)"
											th:selected="${user.language1 == '日本語 (Japanese)'}">日本語
											(Japanese)</option>
										<option value="Қазақ (Kazakh)"
											th:selected="${user.language1 == 'Қазақ (Kazakh)'}">Қазақ
											(Kazakh)</option>
										<option value="한글 (Hangul)"
											th:selected="${user.language1 == '한글 (Hangul)'}">한글
											(Hangul)</option>
										<option value="Lietuvių (Lithuanian)"
											th:selected="${user.language1 == 'Lietuvių (Lithuanian)'}">Lietuvių
											(Lithuanian)</option>
										<option value="Latviski (Latvian)"
											th:selected="${user.language1 == 'Latviski (Latvian)'}">Latviski
											(Latvian)</option>
										<option value="मराठी  (Marathi)"
											th:selected="${user.language1 == 'मराठी  (Marathi)'}">मराठी
											(Marathi)</option>
										<option value="Nederlands (Dutch)"
											th:selected="${user.language1 == 'Nederlands (Dutch)'}">Nederlands
											(Dutch)</option>
										<option value="Norsk (Norwegian)"
											th:selected="${user.language1 == 'Norsk (Norwegian)'}">Norsk
											(Norwegian)</option>
										<option value="Polski (Polish)"
											th:selected="${user.language1 == 'Polski (Polish)'}">Polski
											(Polish)</option>
										<option value="Português (Portuguese)"
											th:selected="${user.language1 == 'Português (Portuguese)'}">Português
											(Portuguese)</option>
										<option value="Română (Romanian)"
											th:selected="${user.language1 == 'Română (Romanian)'}">Română
											(Romanian)</option>
										<option value="Русский (Russian)"
											th:selected="${user.language1 == 'Русский (Russian)'}">Русский
											(Russian)</option>
										<option value="Slovenčina (Slovak)"
											th:selected="${user.language1 == 'Slovenčina (Slovak)'}">Slovenčina
											(Slovak)</option>
										<option value="Slovenščina (Slovene)"
											th:selected="${user.language1 == 'Slovenščina (Slovene)'}">Slovenščina
											(Slovene)</option>
										<option value="Srpski (Serbian)"
											th:selected="${user.language1 == 'Srpski (Serbian)'}">Srpski
											(Serbian)</option>
										<option value="Svenska (Swedish)"
											th:selected="${user.language1 == 'Svenska (Swedish)'}">Svenska
											(Swedish)</option>
										<option value="தமிழ் (Tamil)"
											th:selected="${user.language1 == 'தமிழ் (Tamil)'}">தமிழ்
											(Tamil)</option>
										<option value="తెలుగు (Telugu)"
											th:selected="${user.language1 == 'తెలుగు (Telugu)'}">తెలుగు
											(Telugu)</option>
										<option value="ภาษาไทย (Thai)"
											th:selected="${user.language1 == 'ภาษาไทย (Thai)'}">ภาษาไทย
											(Thai)</option>
										<option value="Türkçe (Turkish)"
											th:selected="${user.language1 == 'Türkçe (Turkish)'}">Türkçe
											(Turkish)</option>
										<option value="Українська (Ukrainian)"
											th:selected="${user.language1 == 'Українська (Ukrainian)'}">Українська
											(Ukrainian)</option>
										<option value="Tiếng (Việt Vietnamese)"
											th:selected="${user.language1 == 'Tiếng (Việt Vietnamese)'}">Tiếng
											(Việt Vietnamese)</option>
										<option value="简体中文 (Simplified Chinese)"
											th:selected="${user.language1 == '简体中文 (Simplified Chinese)'}">简体中文
											(Simplified Chinese)</option>
										<option value="繁體中文 (traditional Chinese)"
											th:selected="${user.language1 == '繁體中文 (traditional Chinese)'}">繁體中文
											(traditional Chinese)</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{usersettings.language2}">Sprache 2</div>
								<div class="large-7 small-9 columns">
									<select name="newLanguage2">
										<option value="null" th:selected="${user.language2 == ''}"> - </option>
										<option value="عربي (Arabic)"  th:selected="${user.language2 == 'عربي (Arabic)'}">عربي (Arabic)</option>
										<option value="Български (Bulgarian)"
											th:selected="${user.language2 == 'Български (Bulgarian)'}">Български
											(Bulgarian)</option>
										<option value="বাংলা (Bengali)"
											th:selected="${user.language2 == 'বাংলা (Bengali)'}">বাংলা
											(Bengali)</option>
										<option value="Čeština (Czech)"
											th:selected="${user.language2 == 'Čeština (Czech)'}">Čeština
											(Czech)</option>
										<option value="Dansk (Danish)"
											th:selected="${user.language2 == 'Dansk (Danish)'}">Dansk
											(Danish)</option>
										<option value="Deutsch (German)"
											th:selected="${user.language2 == 'Deutsch (German)'}">Deutsch
											(German)</option>
										<option value="Ελληνικά (Greek)"
											th:selected="${user.language2 == 'Ελληνικά (Greek)'}">Ελληνικά
											(Greek)</option>
										<option value="English (English)"
											th:selected="${user.language2 == 'English (English)'}">English
											(English)</option>
										<option value="Español (Spanish)"
											th:selected="${user.language2 == 'Español (Spanish)'}">Español
											(Spanish)</option>
										<option value="Eesti (Estonia)"
											th:selected="${user.language2 == 'Eesti (Estonia)'}">Eesti
											(Estonia)</option>
										<option value="فارسی (Farsi)"
											th:selected="${user.language2 == 'فارسی (Farsi)'}">فارسی
											(Farsi)</option>
										<option value="Suomi (Finnish)"
											th:selected="${user.language2 == 'Suomi (Finnish)'}">Suomi
											(Finnish)</option>
										<option value="Français (French)"
											th:selected="${user.language2 == 'Français (French)'}">Français
											(French)</option>
										<option value="हिन्दी (Hindi)"
											th:selected="${user.language2 == 'हिन्दी (Hindi)'}">हिन्दी
											(Hindi)</option>
										<option value="Magyar (Hungarian)"
											th:selected="${user.language2 == 'Magyar (Hungarian)'}">Magyar
											(Hungarian)</option>
										<option value="Indonesia (Indonesia)"
											th:selected="${user.language2 == 'Indonesia (Indonesia)'}">Indonesia
											(Indonesia)</option>
										<option value="Íslenska (Icelandic)"
											th:selected="${user.language2 == 'Íslenska (Icelandic)'}">Íslenska
											(Icelandic)</option>
										<option value="Italiano (Italian)"
											th:selected="${user.language2 == 'Italiano (Italian)'}">Italiano
											(Italian)</option>
										<option value="日本語 (Japanese)"
											th:selected="${user.language2 == '日本語 (Japanese)'}">日本語
											(Japanese)</option>
										<option value="Қазақ (Kazakh)"
											th:selected="${user.language2 == 'Қазақ (Kazakh)'}">Қазақ
											(Kazakh)</option>
										<option value="한글 (Hangul)"
											th:selected="${user.language2 == '한글 (Hangul)'}">한글
											(Hangul)</option>
										<option value="Lietuvių (Lithuanian)"
											th:selected="${user.language2 == 'Lietuvių (Lithuanian)'}">Lietuvių
											(Lithuanian)</option>
										<option value="Latviski (Latvian)"
											th:selected="${user.language2 == 'Latviski (Latvian)'}">Latviski
											(Latvian)</option>
										<option value="मराठी  (Marathi)"
											th:selected="${user.language2 == 'मराठी  (Marathi)'}">मराठी
											(Marathi)</option>
										<option value="Nederlands (Dutch)"
											th:selected="${user.language2 == 'Nederlands (Dutch)'}">Nederlands
											(Dutch)</option>
										<option value="Norsk (Norwegian)"
											th:selected="${user.language2 == 'Norsk (Norwegian)'}">Norsk
											(Norwegian)</option>
										<option value="Polski (Polish)"
											th:selected="${user.language2 == 'Polski (Polish)'}">Polski
											(Polish)</option>
										<option value="Português (Portuguese)"
											th:selected="${user.language2 == 'Português (Portuguese)'}">Português
											(Portuguese)</option>
										<option value="Română (Romanian)"
											th:selected="${user.language2 == 'Română (Romanian)'}">Română
											(Romanian)</option>
										<option value="Русский (Russian)"
											th:selected="${user.language2 == 'Русский (Russian)'}">Русский
											(Russian)</option>
										<option value="Slovenčina (Slovak)"
											th:selected="${user.language2 == 'Slovenčina (Slovak)'}">Slovenčina
											(Slovak)</option>
										<option value="Slovenščina (Slovene)"
											th:selected="${user.language2 == 'Slovenščina (Slovene)'}">Slovenščina
											(Slovene)</option>
										<option value="Srpski (Serbian)"
											th:selected="${user.language2 == 'Srpski (Serbian)'}">Srpski
											(Serbian)</option>
										<option value="Svenska (Swedish)"
											th:selected="${user.language2 == 'Svenska (Swedish)'}">Svenska
											(Swedish)</option>
										<option value="தமிழ் (Tamil)"
											th:selected="${user.language2 == 'தமிழ் (Tamil)'}">தமிழ்
											(Tamil)</option>
										<option value="తెలుగు (Telugu)"
											th:selected="${user.language2 == 'తెలుగు (Telugu)'}">తెలుగు
											(Telugu)</option>
										<option value="ภาษาไทย (Thai)"
											th:selected="${user.language2 == 'ภาษาไทย (Thai)'}">ภาษาไทย
											(Thai)</option>
										<option value="Türkçe (Turkish)"
											th:selected="${user.language2 == 'Türkçe (Turkish)'}">Türkçe
											(Turkish)</option>
										<option value="Українська (Ukrainian)"
											th:selected="${user.language2 == 'Українська (Ukrainian)'}">Українська
											(Ukrainian)</option>
										<option value="Tiếng (Việt Vietnamese)"
											th:selected="${user.language2 == 'Tiếng (Việt Vietnamese)'}">Tiếng
											(Việt Vietnamese)</option>
										<option value="简体中文 (Simplified Chinese)"
											th:selected="${user.language2 == '简体中文 (Simplified Chinese)'}">简体中文
											(Simplified Chinese)</option>
										<option value="繁體中文 (traditional Chinese)"
											th:selected="${user.language2 == '繁體中文 (traditional Chinese)'}">繁體中文
											(traditional Chinese)</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="large-5 small-3 columns" th:text="#{usersettings.language3}">Sprache 3</div>
								<div class="large-7 small-9 columns">
									<select name="newLanguage3">
										<option value="null" th:selected="${user.language3 == ''}"> - </option>
										<option value="عربي (Arabic)"  th:selected="${user.language3 == 'عربي (Arabic)'}">عربي (Arabic)</option>
										<option value="Български (Bulgarian)"
											th:selected="${user.language3 == 'Български (Bulgarian)'}">Български
											(Bulgarian)</option>
										<option value="বাংলা (Bengali)"
											th:selected="${user.language3 == 'বাংলা (Bengali)'}">বাংলা
											(Bengali)</option>
										<option value="Čeština (Czech)"
											th:selected="${user.language3 == 'Čeština (Czech)'}">Čeština
											(Czech)</option>
										<option value="Dansk (Danish)"
											th:selected="${user.language3 == 'Dansk (Danish)'}">Dansk
											(Danish)</option>
										<option value="Deutsch (German)"
											th:selected="${user.language3 == 'Deutsch (German)'}">Deutsch
											(German)</option>
										<option value="Ελληνικά (Greek)"
											th:selected="${user.language3 == 'Ελληνικά (Greek)'}">Ελληνικά
											(Greek)</option>
										<option value="English (English)"
											th:selected="${user.language3 == 'English (English)'}">English
											(English)</option>
										<option value="Español (Spanish)"
											th:selected="${user.language3 == 'Español (Spanish)'}">Español
											(Spanish)</option>
										<option value="Eesti (Estonia)"
											th:selected="${user.language3 == 'Eesti (Estonia)'}">Eesti
											(Estonia)</option>
										<option value="فارسی (Farsi)"
											th:selected="${user.language3 == 'فارسی (Farsi)'}">فارسی
											(Farsi)</option>
										<option value="Suomi (Finnish)"
											th:selected="${user.language3 == 'Suomi (Finnish)'}">Suomi
											(Finnish)</option>
										<option value="Français (French)"
											th:selected="${user.language3 == 'Français (French)'}">Français
											(French)</option>
										<option value="हिन्दी (Hindi)"
											th:selected="${user.language3 == 'हिन्दी (Hindi)'}">हिन्दी
											(Hindi)</option>
										<option value="Magyar (Hungarian)"
											th:selected="${user.language3 == 'Magyar (Hungarian)'}">Magyar
											(Hungarian)</option>
										<option value="Indonesia (Indonesia)"
											th:selected="${user.language3 == 'Indonesia (Indonesia)'}">Indonesia
											(Indonesia)</option>
										<option value="Íslenska (Icelandic)"
											th:selected="${user.language3 == 'Íslenska (Icelandic)'}">Íslenska
											(Icelandic)</option>
										<option value="Italiano (Italian)"
											th:selected="${user.language3 == 'Italiano (Italian)'}">Italiano
											(Italian)</option>
										<option value="日本語 (Japanese)"
											th:selected="${user.language3 == '日本語 (Japanese)'}">日本語
											(Japanese)</option>
										<option value="Қазақ (Kazakh)"
											th:selected="${user.language3 == 'Қазақ (Kazakh)'}">Қазақ
											(Kazakh)</option>
										<option value="한글 (Hangul)"
											th:selected="${user.language3 == '한글 (Hangul)'}">한글
											(Hangul)</option>
										<option value="Lietuvių (Lithuanian)"
											th:selected="${user.language3 == 'Lietuvių (Lithuanian)'}">Lietuvių
											(Lithuanian)</option>
										<option value="Latviski (Latvian)"
											th:selected="${user.language3 == 'Latviski (Latvian)'}">Latviski
											(Latvian)</option>
										<option value="मराठी  (Marathi)"
											th:selected="${user.language3 == 'मराठी  (Marathi)'}">मराठी
											(Marathi)</option>
										<option value="Nederlands (Dutch)"
											th:selected="${user.language3 == 'Nederlands (Dutch)'}">Nederlands
											(Dutch)</option>
										<option value="Norsk (Norwegian)"
											th:selected="${user.language3 == 'Norsk (Norwegian)'}">Norsk
											(Norwegian)</option>
										<option value="Polski (Polish)"
											th:selected="${user.language3 == 'Polski (Polish)'}">Polski
											(Polish)</option>
										<option value="Português (Portuguese)"
											th:selected="${user.language3 == 'Português (Portuguese)'}">Português
											(Portuguese)</option>
										<option value="Română (Romanian)"
											th:selected="${user.language3 == 'Română (Romanian)'}">Română
											(Romanian)</option>
										<option value="Русский (Russian)"
											th:selected="${user.language3 == 'Русский (Russian)'}">Русский
											(Russian)</option>
										<option value="Slovenčina (Slovak)"
											th:selected="${user.language3 == 'Slovenčina (Slovak)'}">Slovenčina
											(Slovak)</option>
										<option value="Slovenščina (Slovene)"
											th:selected="${user.language3 == 'Slovenščina (Slovene)'}">Slovenščina
											(Slovene)</option>
										<option value="Srpski (Serbian)"
											th:selected="${user.language3 == 'Srpski (Serbian)'}">Srpski
											(Serbian)</option>
										<option value="Svenska (Swedish)"
											th:selected="${user.language3 == 'Svenska (Swedish)'}">Svenska
											(Swedish)</option>
										<option value="தமிழ் (Tamil)"
											th:selected="${user.language3 == 'தமிழ் (Tamil)'}">தமிழ்
											(Tamil)</option>
										<option value="తెలుగు (Telugu)"
											th:selected="${user.language3 == 'తెలుగు (Telugu)'}">తెలుగు
											(Telugu)</option>
										<option value="ภาษาไทย (Thai)"
											th:selected="${user.language3 == 'ภาษาไทย (Thai)'}">ภาษาไทย
											(Thai)</option>
										<option value="Türkçe (Turkish)"
											th:selected="${user.language3 == 'Türkçe (Turkish)'}">Türkçe
											(Turkish)</option>
										<option value="Українська (Ukrainian)"
											th:selected="${user.language3 == 'Українська (Ukrainian)'}">Українська
											(Ukrainian)</option>
										<option value="Tiếng (Việt Vietnamese)"
											th:selected="${user.language3 == 'Tiếng (Việt Vietnamese)'}">Tiếng
											(Việt Vietnamese)</option>
										<option value="简体中文 (Simplified Chinese)"
											th:selected="${user.language3 == '简体中文 (Simplified Chinese)'}">简体中文
											(Simplified Chinese)</option>
										<option value="繁體中文 (traditional Chinese)"
											th:selected="${user.language3 == '繁體中文 (traditional Chinese)'}">繁體中文
											(traditional Chinese)</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
	
				<div class="row" data-equalizer="2">
					<div class="large-6 small-12 columns">
						<h5 th:text="#{usersettings.changeEmail}">E-Mail-Adresse ändern</h5>
						<div class="panel" data-equalizer-watch="2">
	
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.registeredEmail}">Registrierte E-Mail-Adresse</div>
								</div>
								<div class="large-7 small-12 columns">
									<label>
										<input type="text" disabled="" th:value="${user.email}" />
										<font color="red" th:text="${emailError}"> ERROR MESSAGE </font>
										<font color="red" th:text="${emailUsed}"> ERROR MESSAGE </font>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.newEmail}">Neue E-Mail-Adresse</div>
								</div>
								<div class="large-7 small-12 columns">
									<input type="text" name ="newEmail" th:placeholder="#{usersettings.newEmail}" />
								</div>
							</div>
						</div>
					</div>
					<div class="large-6 small-12 columns">
						<h5 th:text="#{usersettings.changePlace}">Wohnort ändern</h5>
						<div class="panel" data-equalizer-watch="2">
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.city}">Stadt</div>
								</div>
								<div class="large-7 small-12 columns">
									<label>
										<input type="text" name="newCity" th:placeholder="#{usersettings.city}" th:value="${user.city}"/>
										<font color="red" th:text="${zipError}"> ERROR MESSAGE </font>								</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{usersettings.zip}">PLZ</div>
								</div>
								<div class="large-7 small-12 columns">
									<input type="text" name="newZip" th:placeholder="#{usersettings.zip}" th:value="${user.zip}"/>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{registration.streetHousenumber}">Straße, Hausnummer</div>
								</div>
								<div class="large-7 small-12 columns">
									<label>
										<font color="red" th:text="${streetError}"> ERROR MESSAGE </font>
										<input type="text" name="newStreetName" th:placeholder="#{usersettings.streetHousenumber}" th:value="${user.streetName}"/>
									</label>
								</div>
							</div>
							<div class="row">
								<div class="show-for-medium-up">
									<div class="large-5 small-3 columns" th:text="#{registration.addressAddition}">Adresszusatz</div>
								</div>
								<div class="large-7 small-12 columns">
									<label>
										<input type="text" name="newAddressAddition" th:placeholder="#{usersettings.addressAddition}"/>
									</label>
								</div>
							</div>
						</div>
					<strong class="show-for-medium-up">
					<button class="button left" type="submit" th:href="@{/usersettings}" th:text="#{usersettings.saveChanges}">Änderungen speichern</button>
					<a th:href="@{/deleteuser}"><button style="background-color: red" class="button right" type="button" id="deleteUserPopup">Account deaktivieren</button></a>
					</strong>
					<strong class="show-for-small-only">
					<a class="button" type="submit" th:href="@{/usersettings}" th:text="#{usersettings.saveChanges}">Änderungen speichern</a>
					<a th:href="@{/deleteuser}"><button style="background-color: red" class="button" type="button" id="deleteUserView2">Account deaktivieren</button></a>
					</strong>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<footer th:include="footer :: footer"></footer>
	
	<script>
			$(document).foundation();
	</script>
	<script th:src="@{/resources/js/jquery.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	var message = [[${deleteUserPopup}]];
	
	/*]]>*/
	
	$('#deleteUserPopup').click(function () {
		alert(message);
	})
	$('#deleteUserView2').click(function () {
		alert(message);
	});
	//var message = ;
	//alert(message);
	</script>
	

</body>
</html>